{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Project</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container" style="margin-top: 40px;">
        <center><h3>Upload Form</h3></center>
        <div class="row justify-content-center" style="margin-top: 40px;">
                <form action='.' method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{% if message.tags == 'success' %}success{% else %}danger{% endif %} alert-dismissable form-control" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        <label for="id_name">Name</label>
                        <input type="text" class="form-control" id="id_name" name="name" required>
                        <small class="form-text text-muted">This name will be used as the folder name while uploading the files.</small>
                    </div>
                    <div class="form-group">
                        <label for="id_files">Files</label>
                        <input type="file" class="form-control" id="id_files" name="files" multiple>
                    </div>
                    <div class="form-group">
                        <label for="btn_capture">Webcam</label>
                        <div class="contentarea">
                            <div class="camera">
                                <video id="video" style="display: none;">Video stream not available.</video>
                            </div>
                            <button id="btn_webcam_open" type="button" class="btn btn-secondary form-control">Open Webcam</button>
                            <div class="video_action text-center">
                                <button id="btn_webcam_capture" type="button" class="btn btn-success" style="display: none;">Capure Image</button>
                                <button id="btn_webcam_close" type="button" class="btn btn-danger" style="display: none;">Close Webcam</button>
                            </div>
                            <small id="images_count" class="form-text text-muted"></small>
                            <canvas id="canvas" style="display: none;"></canvas>
                            <div class="output" style="display: none;">
                                <img id="photo" style="display: none;">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="display: none;">
                        <input type="hidden" class="form-control" id="id_webcam_images" name="webcam_images">
                    </div>
                    <div class="form-group">
                        <button type="reset" class="btn btn-danger" id="btn_reset" data-toggle="tooltip" title="Clear Form">RESET</button>
                        <button type="submit" class="btn btn-primary" id="btn_sumbit" data-toggle="tooltip" title="Upload to folder">UPLOAD FILES</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="{% static 'webcam.js' %}"></script>
</html>